# EDUNET FOUNDATION - Class Exercise Notebook

# LAB 3 - Perform Different Data Structures of Python Programming

# Data Structures in python

## 1. List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [41]:
#create list

lst1 = ["parul", 22, "Bharat", 45.5, "vadodara", 99]
lst1

print(type(lst1))

<class 'list'>

In [42]:
lst1[3]

45.5

In [43]:
len(lst1)

6

In [44]:
lst1.remove(22)

In [45]:
lst1

['parul', 'Bharat', 45.5, 'vadodara', 99]

In [46]:
del lst1[0]
lst1

['Bharat', 45.5, 'vadodara', 99]

### Some popular operations in list

#### 1. append() operation: 
The append() method appends an element to the end of the list.

Syntax:list.append(elmnt)

In [1]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

#### 2. extend operation:

The extend() method adds the specified list elements (or any iterable) to the end of the current list.

Syntax: list.extend(iterable)

In [2]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

#### 3. insert operation: 

The insert() method inserts the specified value at the specified position.

Syntax: list.insert(index-pos, elmnt)

In [3]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange") # insert orange at index 1
print(fruits)

['apple', 'orange', 'banana', 'cherry']

#### 4. pop() operation: 

The pop() method removes the element at the specified position.


Syntax: list.pop(index-pos)

In [4]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)
print(fruits)

['apple', 'cherry']

#### 5. remove()  operation

remove() method removes the first occurrence of the element with the specified value.

Syntax: list.remove(elmnt)

In [5]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

#### 6. sort()  operation

method sorts the list ascending by default. You can also make a function to decide the sorting criteria(s).

Syntax: list.sort(reverse=True|False, key=myFunc)

In [6]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

#### 7. split() operation
It splits the sentence into words by seperating them in interverted commas

In [5]:
# write a program to take input a sentence and split it into word

text = input("Enter the word: ")

Enter the word: I love Python the most

In [6]:
text.split()

['I', 'love', 'Python', 'the', 'most']

#### Note: There are more methods available for the list you can explore

# Tuples in Python 

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.
Foramt 

Tuple = (val1, val2, val2,....)

In [36]:
#create tuples -

tup1 = ("parul", 22, "Bharat", 45.5, "vadodara", 99)

print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [37]:
tup1[4]

'vadodara'

In [38]:
tup1[2:4]

('Bharat', 45.5)

In [39]:
tup2=("python", 87)

tup3 = tup1 + tup2
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'python', 87)

In [40]:
#immutable 

del tup3[3]
print(tup3)

TypeError: 'tuple' object doesn't support item deletion

# Dictionary
Dictionaries are used to store data values in key:value pairs.
Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
Dict = {'key1':'value1','key2':'value2', 'key3':'value3'}
Dict

In [ ]:
# Call values by their key
Dict['key2']

**Its important to see that dictionaries are very flexible in the data types they can hold. For example:**

In [ ]:
my_dict = {'key1':123,'key2':[1,2,3],'key3':['Edu','Net','Foundation']}
my_dict

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

In [ ]:
We can affect the values of a key as well. For example:

In [ ]:
my_dict['key1']

In [ ]:
# Add 123 from the value
my_dict['key1'] = my_dict['key1'] + 123

In [ ]:
#Check
my_dict['key1']

### Update the elements in the blank dictionary

In [9]:
dict1 = {}
dict1['one'] = "This is Python"
dict1[2] = "This is Java"

print(dict1)

{'one': 'This is Python', 2: 'This is Java'}

# Sets in python
The simple funcationality of set is it just ignores the duplicates in the set.
Sets are:
1. Unoredered
2. Unchaeable
3. Not allowed duplicate values

In [71]:
thisset = {'Physics', 'Hindi', 'Chemistry', 'maths', 'Hindi'}
print(thisset)

{'Hindi', 'Chemistry', 'maths', 'Physics'}

In [73]:
# Checking the length of set
thisset = {'Physics', 'Hindi', 'Chemistry', 'maths', 'Hindi'}
print(len(thisset))

4

In [13]:
# let's create a new Set

{1,2,3,4}

{1, 2, 3, 4}

In [2]:
{1,2,3,3,3,4,5}

{1, 2, 3, 4, 5}

In [3]:
type({1,2,3,4})

set

In [4]:
Set = set()

In [5]:
# We add to sets with the add() method
Set.add(1)

In [6]:
Set.add(2)

In [7]:
Set.add(3)

In [8]:
Set

{1, 2, 3}

In [9]:
Set.add(1)

In [10]:
Set.add(1)

In [11]:
Set.add(4)

In [12]:
Set

{1, 2, 3, 4}